@function rem($pixels, $context: $dj-font-size-base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@for $i from 1 through 4 {
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .ml-#{$i} {
    margin-left: #{$i}rem;
  }

  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
}