$color-1: #233037;
$color-2: #d77efc;
$color-3: #fc6f61;
$color-4: #18a0fa;
$color-5: #94c325;
$color-6: #838f4f;
$color-7: #e3f0fa;

$color-darker-blue: $color-1;
$color-purple: $color-2;
$color-red: $color-3;
$color-blue: $color-4;
$color-green: $color-5;
$color-darker-green: $color-6;
$color-lighter-blue: $color-7;

$font-1: 'Oswald', sans-serif;